#credits{
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.blurBox{
    -fx-hgap: 10px;
    -fx-padding: 5px;

    -fx-background-radius: 10px;
    -fx-background-color: rgba(86, 85, 85, 0.5);
    -fx-effect: dropshadow( gaussian , rgba(28, 27, 27, 0.5), 2,2,3,3 );

    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: rgba(0, 0, 0, 0.26);
}

.blurBoxOrder{
    -fx-hgap: 10px;
    -fx-padding: 5px;

    -fx-background-radius: 10px;
    -fx-background-color: rgba(86, 85, 85, 0.95);
    -fx-effect: dropshadow( gaussian , rgba(28, 27, 27, 0.5), 2,2,3,3 );

    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: rgba(0, 0, 0, 0.26);
}


.SpecialBox{
    -fx-hgap: 10px;
    -fx-padding: 5px;

    -fx-background-color: #5f7ca6;
    -fx-background-radius: 10px;

    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: rgba(0, 0, 0, 0.26);

}